---
import BaseLayout from "@layouts/BaseLayout.astro";
import type { MarkdownInstance } from "astro";

const allPosts = import.meta.glob<MarkdownInstance<Record<string, any>>>(
  "./posts/**/*.md*",
  { eager: true },
);
---

<BaseLayout>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      Object.values(allPosts).map((post) => {
        return (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
