---
---
<nav class="">
  <a href="/">Farma</a>
  <div>
    <a href="/archives">文章清單</a>
    <a href="/tags">分類</a>
    <a href="/about/">關於我</a>
  </div>
</nav>

<style>
  nav {
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (width < 800px) {
    nav {
      padding: 10px 20px;
    }
  }
</style>