---
import clsx from "clsx";
---

<nav class={clsx("border-b border-slate", "py-2 px-6")}>
  <div
    class={clsx(
      "header",
      "flex justify-between",
      "mx-auto",
      "lg:max-w-4xl md:max-w-3xl",
    )}
  >
    <a href="/" class="text-xl">Farma</a>
  </div>
</nav>
