---
import clsx from 'clsx';

import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
// const { content } = Astro.props;
import '@styles/global.css';
// import '@styles/bulma/bulma.min.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- <meta name="description" content="Farma's blog" /> -->
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.ico" />
		<!-- <title>{content.title}</title> -->
	</head>
	<body>
		<Header />
		<div class={clsx('py-12 px-6')}>
			<slot />
		</div>
		<Footer />
	</body>
</html>
