---
import "../styles/global.css";
import NavBar from "../components/NavBar";
import MobileBottomNav from "../components/MobileBottomNav";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
---

<html lang="zh-TW" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body
		class="text-zinc-900 antialiased selection:bg-zinc-200 selection:text-zinc-900"
	>
		<div class="min-h-screen flex flex-col">
			<div class="hidden lg:block">
				<NavBar client:load />
			</div>
			<main class="grow w-full max-w-5xl mx-auto px-4 pb-20 lg:pb-0">
				<slot />
			</main>
			<Footer />
			<MobileBottomNav client:load />
		</div>
	</body>
</html>
